---
title: Download
version_gd3: 1.0-beta
---

<div class="row panel">
  <div class="col">
    <h1 class="mt-2 mb-4">Download</h2>
    <p>The project officially provides custom Godot builds with Goost already precompiled.
      Currently, only stable versions of the engine are released. If you'd like to
      compile Godot with Goost from source yourself, proceed to the official
      <a href="https://goost.readthedocs.io/en/latest/usage/building.html">Goost documentation</a>
      to learn how to do this.</p>
    <p>If you have any doubts regarding what you need to download, you can refer
      to <a href="https://godotengine.org/download">Godot's download page</a> for
      more details specific to the engine.</p>
    <div class="alert alert-warning" role="alert">
      <b>Warning:</b> Goost is still considered in early development phase.
      While the Goost binaries were built using the official
      <a href="https://github.com/godotengine/build-containers">Godot build containers</a>,
      not all of them are properly tested, and they are currently not code-signed.
    </div>

    {%- capture base_link -%}
    {{ site.data.version.download_url_root | append: site.data.version.goost | append: "-gd3" }}
    {%- endcapture -%}

    {%- capture download_base_link -%}
    {{ base_link }}/{{ "Godot_v" }}{{ site.data.version.godot }}{{ ".goost_v" }}{{ site.data.version.goost }}{{ "_" }}
    {%- endcapture -%}

    {% assign linux_standard_64 = download_base_link | append: "x11.64.zip" %}
    {% assign linux_standard_32 = download_base_link | append: "x11.32.zip" %}
    {% assign linux_mono_64 = download_base_link | append: "mono_x11_64.zip" %}
    {% assign linux_mono_32 = download_base_link | append: "mono_x11_32.zip" %}

    {% assign macos_standard_64 = download_base_link | append: "osx.universal.zip" %}
    {% assign macos_mono_64 = download_base_link | append: "mono_osx.64.zip" %}

    {% assign win_standard_64 = download_base_link | append: "win64.exe.zip" %}
    {% assign win_standard_32 = download_base_link | append: "win32.exe.zip" %}
    {% assign win_mono_64 = download_base_link | append: "mono_win64.zip" %}
    {% assign win_mono_32 = download_base_link | append: "mono_win32.zip" %}

    {% assign linux_headless = download_base_link | append: "linux_headless.64.zip" %}
    {% assign linux_server = download_base_link | append: "linux_server.64.zip" %}
    {% assign linux_headless_mono = download_base_link | append: "mono_linux_headless_64.zip" %}
    {% assign linux_server_mono = download_base_link | append: "mono_linux_server_64.zip" %}

    {% assign web_html5 = download_base_link | append: "web_editor.zip" %}

    <h4 class="mt-2 text-center">Godot {{ site.data.version.godot }} + Goost {{ site.data.version.goost }}</h4>

    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#linux">Linux</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#macos">macOS</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#windows">Windows</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#linux_server">Linux Server</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#web">Web</a></li>
    </ul>

    <div class="tab-content mt-2 mb-4">
      {% include platform_download.html name="Linux" id="linux"
          standard_64=linux_standard_64
          standard_32=linux_standard_32
          mono_64=linux_mono_64
          mono_32=linux_mono_32
          active=true %}
      {% include platform_download.html name="macOS" id="macos"
          standard_64=macos_standard_64
          mono_64=macos_mono_64 %}
      {% include platform_download.html name="Windows" id="windows"
          standard_64=win_standard_64
          standard_32=win_standard_32
          mono_64=win_mono_64
          mono_32=win_mono_32 %}
      {% include platform_download.html name="Linux Server" id="linux_server"
          linux_headless=linux_headless
          linux_server=linux_server
          linux_headless_mono=linux_headless_mono
          linux_server_mono=linux_server_mono %}
      {% include platform_download.html name="Web" id="web"
          standard=web_html5 %}
    </div>

    <div class="alert alert-info" role="alert">
      You can find previous releases on the <a href="https://github.com/goostengine/goost/releases">releases</a> page at GitHub.
    </div>
  </div>
</div>

{% assign export_templates = download_base_link | append: "export_templates.tpz" %}
{% assign export_templates_mono = download_base_link | append: "mono_export_templates.tpz" %}

<div class="row panel">
  <div class="col">
    <h4 class="mb-4">Export templates</h4>
    <a class="btn btn-success font-weight-bold" href="{{ export_templates }}" role="button">Standard</a>
    <a class="btn btn-success font-weight-bold" href="{{ export_templates_mono }}" role="button">Mono (C#)</a>
    
    <div class="alert alert-info my-4" role="alert">
      Please follow <a href="https://goost.readthedocs.io/en/latest/usage/installation.html#installing-export-templates">Installing
      export templates</a> documentation page to learn how to install Goost export templates from a file.
    </div>

    <div class="alert alert-info my-4" role="alert">
      <b>Note:</b> Unlike in official Godot builds, the export templates provided
      by Goost do not contain UWP binaries yet, as the Godot build system and
      the export process have regressed and/or were not updated for some time,
      which makes them difficult to build in an automated manner. See issues like
      <a href="https://github.com/godotengine/godot/issues/44706">this</a>
      and <a href=https://github.com/godotengine/build-containers/issues/78>this</a>.
    </div>
  </div>
</div>

{%- capture aar_library -%}
{{ base_link }}/{{ "godot-lib." }}{{ site.data.version.godot_templates }}.release.aar
{%- endcapture -%}

{%- capture aar_library_mono -%}
{{ base_link }}/{{ "godot-lib." }}{{ site.data.version.godot_templates }}.mono.release.aar
{%- endcapture -%}

<div class="row panel">
  <div class="col pb-2">
    <h4 class="mb-4">AAR library for Android plugins</h4>
    <a class="btn btn-success font-weight-bold" href="{{ aar_library }}" role="button">Standard</a>
    <a class="btn btn-success font-weight-bold" href="{{ aar_library_mono }}" role="button">Mono (C#)</a>
  </div>
</div>
