<footer class="bg-footer-linear p-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 my-2">
        <p>&copy; 2019-{{ site.time | date: '%Y' }} Andrii Doroshenko and Goost contributors.</p>
        <a href="https://github.com/goostengine/goostengine.github.io">Website source code on GitHub.</a>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col">
            <h4>Contact</h4>
          </div>
        </div>
        <div class="row my-2">
          <div class="col">
            <a href="https://github.com/goostengine">
              <img src="/assets/img/contacts/github.png" width="32" height="32" alt="GitHub">
            </a>
            <a href="https://discord.gg/w6jBZnG">
              <img src="/assets/img/contacts/discord.svg" width="32" height="32" alt="Discord">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
