<nav class="navbar navbar-dark navbar-expand-lg bg-navbar-linear">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/img/logo.svg" height="48" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-start" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active px-2">
          <a class="nav-link" href="/features.html">Features</a>
        </li>
        <li class="nav-item active px-2">
          <a class="nav-link" href="/news.html">News</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active px-2">
          <a class="nav-link font-width-bold" href="/download.html">Download</a>
        </li>
        <li class="nav-item active px-2">
          <a class="nav-link" href="https://goost.readthedocs.io/en/latest/">Documentation</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
