<div id="{{ include.id }}" class="tab-pane {% if include.active %} active {% endif %}">
  <div class="row">
    <div class="col">
      <h3 class="mt-2 mb-4">Standard</h2>
      <a class="btn btn-success font-weight-bold" href="#" role="button">64-bit</a>
      <a class="btn btn-success font-weight-bold" href="#" role="button">32-bit</a>
    </div>
    <div class="col">
      <h3 class="mt-2 mb-4">Mono (C#)</h2>
      <a class="btn btn-success font-weight-bold" href="#" role="button">64-bit</a>
      <a class="btn btn-success font-weight-bold" href="#" role="button">32-bit</a>
    </div>
  </div>
</div>
