<div id="{{ include.id }}" class="tab-pane {% if include.active %} active {% endif %}">
  <div class="row">
    {% case include.id %}
      {% when "linux_server" %}
        <div class="col">
          <h4 class="mt-2 mb-4">Editor</h4>
          <a class="btn btn-success font-weight-bold" href="{{ include.linux_headless }}" role="button">Headless 64-bit</a>
          <a class="btn btn-success font-weight-bold" href="{{ include.linux_server }}" role="button">Server 64-bit</a>
        </div>
        <!-- <div class="col">
          <h4 class="mt-2 mb-4">Mono (C#)</h4>
          <a class="btn btn-success font-weight-bold" href="{{ include.linux_headless_mono }}" role="button">Headless 64-bit</a>
          <a class="btn btn-success font-weight-bold" href="{{ include.linux_server_mono }}" role="button">Server 64-bit</a>
        </div> -->
      {% when "web" %}
        <div class="col">
          <h4 class="mt-2 mb-4">Editor</h4>
          <a class="btn btn-success font-weight-bold" href="{{ include.standard }}" role="button">HTML5</a>
        </div>
      {% else %}
        <div class="col">
          <h4 class="mt-2 mb-4">Editor</h4>
          <a class="btn btn-success font-weight-bold" href="{{ include.standard_64 }}" role="button">64-bit</a>
          {% if include.id != "macos" %}
            <a class="btn btn-success font-weight-bold" href="{{ include.standard_32 }}" role="button">32-bit</a>
          {% endif %}
          {% if include.id == "macos" %}
            <div class="alert alert-info mt-4" role="alert">
              <b>Important:</b> It's required to
              <a href="https://disable-gatekeeper.github.io/">Disable Gatekeeper on macOS</a> to be able to
              run Goost, either globally or per application.
            </div>
          {% endif %}
        </div>
        <!-- <div class="col">
          <h4 class="mt-2 mb-4">Mono (C#)</h4>
          <a class="btn btn-success font-weight-bold" href="{{ include.mono_64 }}" role="button">64-bit</a>
          {% if include.id != "macos" %}
            <a class="btn btn-success font-weight-bold" href="{{ include.mono_32 }}" role="button">32-bit</a>
          {% endif %}
        </div> -->
    {% endcase %}
  </div>
</div>
